taxonomy/concepts.txt
taxonomy/main.py
taxonomy/output.ttl
taxonomy/qid_cache.json
taxonomy/taxonomy.txt
.venv/*
software_instances.ttl

# Ignore downloaded/third-party jars
shacl-play-cli.jar

shacl-play-app.log

*.bak
*.log